extends ../_layouts/base

include ../_modules/hotel-menu/hotel-menu
include ../_modules/eg-modal/eg-modal

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.hotel--habitaciones
        .hotel--habitaciones__wrapper.wrapper
            .container
                .row
                    .col.xs.24
                        section.hotel--habitaciones__hero
                            button.hotel--habitaciones__hero__nav-arrow.scroll-down
                            .hotel--habitaciones__hero__image
                                img(src="/images/hotel/las-habitaciones/01.jpg")
                            .hotel--habitaciones__hero__wrapper
                                p.hotel--habitaciones__hero__title las habitaciones
                                p.hotel--habitaciones__hero__text volver a casa
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--habitaciones__overview.hotel--habitaciones__overview--layout#overview
                            .row
                                .col-xs-24
                                    .hotel--habitaciones__overview__wrapper.hotel--habitaciones__overview__wrapper--habitaciones
                                        h3.hotel--habitaciones__overview__title volver a casa
                                        p.hotel--habitaciones__overview__text Cómodas, luminosas, amplias. Casa Higueras cuenta con 20 habitaciones de categorias Tradicional, Premium, Premium Superior, Superior y Deluxe, con superficies de 22 a 56 m2, y con todas las comodidades para sentirse en casa.
                            .row
                                .hotel--habitaciones__overview__container.hotel--habitaciones__overview__container--habitaciones
                                    .col-xs-24.col-sm-12
                                        .row
                                            .col-xs-24
                                                .hotel--habitaciones__overview__image.hotel--habitaciones__overview__image--tradicional.hotel--habitaciones__overview__image--top
                                                    img(src="/images/hotel/Las Habitaciones/02. Tradicional.jpg")
                                        .row
                                            .col-xs-24
                                                .hotel--habitaciones__overview__image.hotel--habitaciones__overview__image--tradicional
                                                    img(src="/images/hotel/Las Habitaciones/03. Tradicional.jpg")
                                    .col-xs-24.col-sm-12
                                        .hotel--habitaciones__overview__description
                                            h3.hotel--habitaciones__overview__description-title tradicional
                                            .hotel--habitaciones__overview__description-wrapper
                                                .hotel--habitaciones__overview__description-col
                                                    p.hotel--habitaciones__overview__description-text Traditional rooms has a size between 20 and 25 m2 app. Depending the localization on the hotel, these rooms may view to Valparaíso hills, Higueras street or a light shaft.
                                                    .hotel--habitaciones__overview__rates-group
                                                        .hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--rates(data-modal="open") Tarifas
                                                        a.hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--book(href="https://app.thebookingbutton.com/properties/higuerasdirect", target="_blank") Reservar
                                                    //- .hotel--habitaciones__overview__rates
                                                    //-     .hotel--habitaciones__overview__group
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 143.100 / US$ 228
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Domingo a jueves)
                                                    //-     .hotel--habitaciones__overview__group
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 159.000 / US$ 228
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Viernes y sábado)
                                                    //-     .hotel--habitaciones__overview__group
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada alta: $ 197.000 / US$ 320
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 Oct 2018 al 30 Abr 2019 (Domingo a jueves)
                                                .hotel--habitaciones__overview__description-col
                                                    h3.hotel--habitaciones__servicios Servicios
                                                    ul.hotel--habitaciones__overview__description-list 
                                                        li • Baño
                                                        li • Servicio de limpieza
                                                        li • WIFI
                                                        li • Jacuzzi
                                                        li • Películas gratuitas <br> (dentro del establecimiento)
                                                        li • Reproductor de DVD
                                                        li • Spa
                                                        li • Acceso a ascensor
                                                        li • Calefacción
                                                        li • TV pantalla plana
                                                        li • Caja fuerte
                                                        li • Servicio de habitaciones
                                                        li • Área lounge
                                                        li • Teléfono
                                                        li • Mini bar
                                                        li • Satélite/TV por cable
                                                        li • Secador de pelo
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--habitaciones__premium.hotel--habitaciones__premium--layout
                            .row
                                .col-xs-24.col-sm-12
                                    .row
                                        .col-xs-24
                                            .hotel--habitaciones__more-images__image.hotel--habitaciones__more-images__image--left-top
                                                img(src="/images/hotel/Las Habitaciones/04. Premium.jpg")
                                    .row
                                        .col-xs-12
                                            .hotel--habitaciones__more-images__image.hotel--habitaciones__more-images__image--left-bottom
                                                img(src="/images/hotel/Las Habitaciones/05. Premium.jpg")
                                        .col-xs-12
                                            .hotel--habitaciones__more-images__image.hotel--habitaciones__more-images__image--left-bottom
                                                img(src="/images/hotel/Las Habitaciones/06. Premium.jpg")
                                .col-xs-24.col-sm-12
                                    .hotel--habitaciones__overview__description.hotel--habitaciones__overview__description--premium
                                        h3.hotel--habitaciones__overview__description-title premium
                                        .hotel--habitaciones__overview__description-wrapper
                                            .hotel--habitaciones__overview__description-col
                                                p.hotel--habitaciones__overview__description-text Premium rooms has a size between 25 and 30 m2 app. Depending the localization on the hotel, these rooms may view to Valparaíso hills, Higueras street or a light shaft.
                                                .hotel--habitaciones__overview__rates-group
                                                    .hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--rates(data-modal="open") Tarifas
                                                    a.hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--book(href="https://app.thebookingbutton.com/properties/higuerasdirect", target="_blank") Reservar
                                                //- .hotel--habitaciones__overview__rates
                                                //-     .hotel--habitaciones__overview__group
                                                //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 167.400 / US$ 273
                                                //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Domingo a jueves)
                                                //-     .hotel--habitaciones__overview__group
                                                //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 186.000 / US$ 273
                                                //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Viernes y sábado)
                                                //-     .hotel--habitaciones__overview__group.hotel--habitaciones__overview__group--separator
                                                //-         h3.hotel--habitaciones__overview__rate-title Temporada alta: $ 230.000 / US$ 345
                                                //-         p.hotel--habitaciones__overview__rate-text 01 Oct 2018 al 30 Abr 2019 (Domingo a jueves)
                                                //-     p.hotel--habitaciones__overview__comment Tarifas por habitación single o doble, expresadas en pesos chilenos y en dólares amercianos. Tarifas en CLP incluyen IVA. Tarifas en USD no incluyen IVA. Tarifa incluye desayuno en nuestro Restaurant. Habitación Deluxe incluye estacionamiento. Consulte precio y disponibilidad de custodia de vehículos para otras categorías. Precios no aplican para programa de Año Nuevo. Sólo se admiten niños mayores de 12 años.
                                            .hotel--habitaciones__overview__description-col
                                                h3.hotel--habitaciones__servicios Servicios
                                                ul.hotel--habitaciones__overview__description-list
                                                    li • Baño
                                                    li • Servicio de limpieza
                                                    li • WIFI
                                                    li • Jacuzzi
                                                    li • Películas gratuitas <br> (dentro del establecimiento)
                                                    li • Reproductor de DVD
                                                    li • Spa
                                                    li • Acceso a ascensor
                                                    li • Calefacción
                                                    li • TV pantalla plana
                                                    li • Caja fuerte
                                                    li • Servicio de habitaciones
                                                    li • Área lounge
                                                    li • Teléfono
                                                    li • Mini bar
                                                    li • Satélite/TV por cable
                                                    li • Secador de pelo
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--habitaciones__premium-superior
                            .row
                                .hotel--habitaciones__overview__container.hotel--habitaciones__overview__container--habitaciones.hotel--habitaciones__overview__container--premium-superior
                                    .col-xs-24.col-sm-12
                                        .row
                                            .col-xs-24
                                                .hotel--habitaciones__overview__image.hotel--habitaciones__overview__image--tradicional.hotel--habitaciones__overview__image--top.hotel--habitaciones__overview__image--premium-superior
                                                    img(src="/images/hotel/Las Habitaciones/07. Premium Superior.jpg")
                                        .row
                                            .col-xs-24
                                                .hotel--habitaciones__overview__image.hotel--habitaciones__overview__image--tradicional.hotel--habitaciones__overview__image--premium-superior
                                                    img(src="/images/hotel/Las Habitaciones/08. Premium Superior.jpg")
                                    .col-xs-24.col-sm-12
                                        .hotel--habitaciones__overview__description.hotel--habitaciones__overview__description--premium-superior
                                            h3.hotel--habitaciones__overview__description-title premium superior
                                            .hotel--habitaciones__overview__description-wrapper
                                                .hotel--habitaciones__overview__description-col
                                                    p.hotel--habitaciones__overview__description-text Premium Superior. The hotel has 6 rooms in this category, 5 of them has bay view and one of them has view over Valparaíso hills. Four of them has a private balcony. The size is 30 m2 app.
                                                    .hotel--habitaciones__overview__rates-group
                                                        .hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--rates(data-modal="open") Tarifas
                                                        a.hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--book(href="https://app.thebookingbutton.com/properties/higuerasdirect", target="_blank") Reservar
                                                    //- .hotel--habitaciones__overview__rates
                                                    //-     .hotel--habitaciones__overview__group
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 197.100 / US$ 320
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Domingo a jueves)
                                                    //-     .hotel--habitaciones__overview__group
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 219.000 / US$ 320
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Viernes y sábado)
                                                    //-     .hotel--habitaciones__overview__group.hotel--habitaciones__overview__group--separator
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada alta: $ 271.000 / US$ 410
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 Oct 2018 al 30 Abr 2019 (Domingo a jueves)
                                                    //-     p.hotel--habitaciones__overview__comment Tarifas por habitación single o doble, expresadas en pesos chilenos y en dólares amercianos. Tarifas en CLP incluyen IVA. Tarifas en USD no incluyen IVA. Tarifa incluye desayuno en nuestro Restaurant. Habitación Deluxe incluye estacionamiento. Consulte precio y disponibilidad de custodia de vehículos para otras categorías. Precios no aplican para programa de Año Nuevo. Sólo se admiten niños mayores de 12 años.
                                                .hotel--habitaciones__overview__description-col
                                                    h3.hotel--habitaciones__servicios Servicios
                                                    ul.hotel--habitaciones__overview__description-list
                                                        li • Baño
                                                        li • Servicio de limpieza
                                                        li • WIFI
                                                        li • Jacuzzi
                                                        li • Películas gratuitas <br> (dentro del establecimiento)
                                                        li • Reproductor de DVD
                                                        li • Spa
                                                        li • Acceso a ascensor
                                                        li • Calefacción
                                                        li • TV pantalla plana
                                                        li • Caja fuerte
                                                        li • Servicio de habitaciones
                                                        li • Área lounge
                                                        li • Teléfono
                                                        li • Mini bar
                                                        li • Satélite/TV por cable
                                                        li • Secador de pelo
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--habitaciones__premium-superior
                            .row
                                .hotel--habitaciones__overview__container.hotel--habitaciones__overview__container--habitaciones.hotel--habitaciones__overview__container--premium-superior
                                    .col-xs-24.col-sm-12
                                        .row
                                            .col-xs-24
                                                .hotel--habitaciones__overview__image.hotel--habitaciones__overview__image--tradicional.hotel--habitaciones__overview__image--top.hotel--habitaciones__overview__image--premium-superior
                                                    img(src="/images/hotel/Las Habitaciones/09. Superior.jpg")
                                        .row
                                            .col-xs-24
                                                .hotel--habitaciones__overview__image.hotel--habitaciones__overview__image--tradicional.hotel--habitaciones__overview__image--premium-superior
                                                    img(src="/images/hotel/Las Habitaciones/10. Superior.jpg")
                                    .col-xs-24.col-sm-12
                                        .hotel--habitaciones__overview__description.hotel--habitaciones__overview__description--premium-superior
                                            h3.hotel--habitaciones__overview__description-title superior
                                            .hotel--habitaciones__overview__description-wrapper
                                                .hotel--habitaciones__overview__description-col
                                                    p.hotel--habitaciones__overview__description-text Superior rooms are commodious (35 m2 app). With view over th Valparaíso bay and Sotomayor Square. One of the two rooms has a private balcony. The size is 35 m2 app.
                                                    .hotel--habitaciones__overview__rates-group
                                                        .hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--rates(data-modal="open") Tarifas
                                                        a.hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--book(href="https://app.thebookingbutton.com/properties/higuerasdirect", target="_blank") Reservar
                                                    //- .hotel--habitaciones__overview__rates
                                                    //-     .hotel--habitaciones__overview__group
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 231.300 / US$ 380
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Domingo a jueves)
                                                    //-     .hotel--habitaciones__overview__group
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 257.000 / US$ 380
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Viernes y sábado)
                                                    //-     .hotel--habitaciones__overview__group.hotel--habitaciones__overview__group--separator
                                                    //-         h3.hotel--habitaciones__overview__rate-title Temporada alta: $ 319.000 / US$ 480
                                                    //-         p.hotel--habitaciones__overview__rate-text 01 Oct 2018 al 30 Abr 2019 (Domingo a jueves)
                                                    //-     p.hotel--habitaciones__overview__comment Tarifas por habitación single o doble, expresadas en pesos chilenos y en dólares amercianos. Tarifas en CLP incluyen IVA. Tarifas en USD no incluyen IVA. Tarifa incluye desayuno en nuestro Restaurant. Habitación Deluxe incluye estacionamiento. Consulte precio y disponibilidad de custodia de vehículos para otras categorías. Precios no aplican para programa de Año Nuevo. Sólo se admiten niños mayores de 12 años.
                                                .hotel--habitaciones__overview__description-col
                                                    h3.hotel--habitaciones__servicios Servicios
                                                    ul.hotel--habitaciones__overview__description-list
                                                        li • Baño
                                                        li • Servicio de limpieza
                                                        li • WIFI
                                                        li • Jacuzzi
                                                        li • Películas gratuitas <br> (dentro del establecimiento)
                                                        li • Reproductor de DVD
                                                        li • Spa
                                                        li • Acceso a ascensor
                                                        li • Calefacción
                                                        li • TV pantalla plana
                                                        li • Caja fuerte
                                                        li • Servicio de habitaciones
                                                        li • Área lounge
                                                        li • Teléfono
                                                        li • Mini bar
                                                        li • Satélite/TV por cable
                                                        li • Secador de pelo
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--habitaciones__premium
                            .row
                                .col-xs-24.col-sm-12
                                    .row
                                        .col-xs-24
                                            .hotel--habitaciones__more-images__image.hotel--habitaciones__more-images__image--left-top
                                                img(src="/images/hotel/Las Habitaciones/11. Deluxe.jpg")
                                    .row
                                        .col-xs-12
                                            .hotel--habitaciones__more-images__image.hotel--habitaciones__more-images__image--left-bottom
                                                img(src="/images/hotel/Las Habitaciones/12. Deluxe.jpg")
                                        .col-xs-12
                                            .hotel--habitaciones__more-images__image.hotel--habitaciones__more-images__image--left-bottom
                                                img(src="/images/hotel/Las Habitaciones/13. Deluxe.jpg")
                                .col-xs-24.col-sm-12
                                    .hotel--habitaciones__overview__description.hotel--habitaciones__overview__description--premium
                                        h3.hotel--habitaciones__overview__description-title deluxe
                                        .hotel--habitaciones__overview__description-wrapper
                                            .hotel--habitaciones__overview__description-col
                                                p.hotel--habitaciones__overview__description-text Deluxe rooms are commodious (35 m2 app). With view over th Valparaíso bay and Sotomayor Square. One of the two rooms has a private balcony. The size is 35 m2 app.
                                                .hotel--habitaciones__overview__rates-group
                                                    .hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--rates(data-modal="open") Tarifas
                                                    a.hotel--habitaciones__overview__description-text.hotel--habitaciones__overview__description-text--book(href="https://app.thebookingbutton.com/properties/higuerasdirect", target="_blank") Reservar
                                                //- .hotel--habitaciones__overview__rates
                                                //-     .hotel--habitaciones__overview__group
                                                //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 268.200 / US$ 450
                                                //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Domingo a jueves)
                                                //-     .hotel--habitaciones__overview__group
                                                //-         h3.hotel--habitaciones__overview__rate-title Temporada baja: $ 298.000 / US$ 450
                                                //-         p.hotel--habitaciones__overview__rate-text 01 May al 30 Sept 2018 (Viernes y sábado)
                                                //-     .hotel--habitaciones__overview__group.hotel--habitaciones__overview__group--separator
                                                //-         h3.hotel--habitaciones__overview__rate-title Temporada alta: $ 360.000 / US$ 545
                                                //-         p.hotel--habitaciones__overview__rate-text 01 Oct 2018 al 30 Abr 2019 (Domingo a jueves)
                                                //-     p.hotel--habitaciones__overview__comment Tarifas por habitación single o doble, expresadas en pesos chilenos y en dólares amercianos. Tarifas en CLP incluyen IVA. Tarifas en USD no incluyen IVA. Tarifa incluye desayuno en nuestro Restaurant. Habitación Deluxe incluye estacionamiento. Consulte precio y disponibilidad de custodia de vehículos para otras categorías. Precios no aplican para programa de Año Nuevo. Sólo se admiten niños mayores de 12 años.
                                            .hotel--habitaciones__overview__description-col
                                                ul.hotel--habitaciones__overview__description-list Servicios
                                                    li • Baño
                                                    li • Servicio de limpieza
                                                    li • WIFI
                                                    li • Jacuzzi
                                                    li • Películas gratuitas <br> (dentro del establecimiento)
                                                    li • Reproductor de DVD
                                                    li • Spa
                                                    li • Acceso a ascensor
                                                    li • Calefacción
                                                    li • TV pantalla plana
                                                    li • Caja fuerte
                                                    li • Servicio de habitaciones
                                                    li • Área lounge
                                                    li • Teléfono
                                                    li • Mini bar
                                                    li • Satélite/TV por cable
                                                    li • Secador de pelo
                +hotel-menu
        
        +eg-modal
            .hotel--habitaciones__eg-modal 
                .hotel--habitaciones__eg-modal__wrapper
                    .hotel--habitaciones__eg-modal__container.hotel--habitaciones__eg-modal__container--left
                        .hotel--habitaciones__eg-modal__column.hotel--habitaciones__eg-modal__column--left
                            .hotel--habitaciones__eg-modal__cell-heading
                                h3 Tarifas 2018-2019
                            .hotel--habitaciones__eg-modal__cell 
                                h3 Tradicional
                            .hotel--habitaciones__eg-modal__cell
                                h3 Premium
                            .hotel--habitaciones__eg-modal__cell
                                h3 Premium Superior
                            .hotel--habitaciones__eg-modal__cell
                                h3 Superior
                            .hotel--habitaciones__eg-modal__cell
                                h3 Deluxe
                    .hotel--habitaciones__eg-modal__container.hotel--habitaciones__eg-modal__container--right
                        each item in site.data.tarifas
                            .hotel--habitaciones__eg-modal__column.hotel--habitaciones__eg-modal__column--right
                                .hotel--habitaciones__eg-modal__cell-heading
                                    h3=item.heading
                                    p=item.text1
                                    p=item.text2
                                .hotel--habitaciones__eg-modal__cell
                                    span=item.precio[0]
                                .hotel--habitaciones__eg-modal__cell
                                    span=item.precio[1]
                                .hotel--habitaciones__eg-modal__cell
                                    span=item.precio[2]
                                .hotel--habitaciones__eg-modal__cell
                                    span=item.precio[3]
                                .hotel--habitaciones__eg-modal__cell
                                    span=item.precio[4]
                .hotel--habitaciones__eg-modal__comment
                    p Tarifas por habitación single o doble, expresadas en pesos chilenos y en dólares amercianos. Tarifas en CLP incluyen IVA. Tarifas en USD no incluyen IVA. Tarifa incluye desayuno en nuestro Restaurant. Habitación Deluxe incluye estacionamiento. Consulte precio y disponibilidad de custodia de vehículos para otras categorías. Precios no aplican para programa de Año Nuevo. Sólo se admiten niños mayores de 12 años.
    
